@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 200;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  position: relative; /* Ensure the body is relatively positioned */
}

/* SVG Background */
.custom-shape-divider-bottom-1711809704 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1711809704 svg {
  position: relative;
  display: block;
  width: calc(180% + 1.3px);
  height: 50%;
  transform: rotateY(180deg);
  z-index: -10;
}

.custom-shape-divider-bottom-1711809704 .shape-fill {
  fill: #F5A623CC; /* Adjust the fill color as needed */
}

/* Adjust the SVG path as needed */
.wave-shape {
  fill: rgb(var(--background-start-rgb));
  d: path("M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z");
}
